.amazon1-button {
    background-color:rgb(237, 198, 6);
    border: none;
    height:40px;
    width: 120px;
    /* 
      border radius trick is half of min(height , weight);
    */
    border-radius: 20px;
    font-weight:bold;
    transition: background-color 1s;
  }

  .amazon1-button:hover{
       background-color:rgb(215 , 202 , 0);
  }

  .amazon1-button:active {
    opacity: 0.5;
  }

  .amazon2-button {
    background-color:rgb(255,164,28);
    border:none;
    height:40px;
    width:120px;
    border-radius:20px;
    font-weight: bold;
    transition: background-color 1s;
  }

  .amazon2-button:hover {
    background-color:  rgb(238, 175, 50);
  }

  .amazon2-button:active {
    opacity:0.5;
  }

  .amazon-link {
    color: rgb(0 , 113 , 133);
    font-size: 24px;
  }

  .amazon-link:hover {
    color: orange;
  }

  .title {
    font-size: 30px;
    font-weight:bold;
  }
  
  .price {
    font-size: 24px;
    color: rgb(0 , 118 , 0);
  }
