.tahoma-font {
    font-size: 30px;
    font-weight: bold;
    font-family: Tahoma;
  }

  .deals {
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 8px;
    text-align:center;
  }

  .sales {
    font-size: 23px;
    font-family: Arial;
    font-style: italic;
    color: red;
    margin-top: 0px;
    text-align:center;
  }

  .course {
    font-size: 18px;
    font-family: Verdana;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .level {
    color: grey;
    margin-top: 0px;
    font-size:18px;
  }

  .content {
    font-size:16px;
    font-family:Verdana;
    width:300px;
    line-height:22px;
  }

  .shop {
    font-size:30px;
    font-weight:bold;
    font-family:Arial;
    text-align:center;
  }

  .apple-work {
    text-align:center;
    font-size:18px;
  }

  .learn {
    text-align:center;
    color:rgb(102, 102, 244);
  }

  .get-started {
    background-color:green;
    color:white;
    border:none;
    border-radius:2px;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
  }
   