.header{
  height:55px;
  display:flex;
  flex-direction:row;
  /* margin-top:30px; */
  justify-content:space-between;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  height:60px;
  background-color:white;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgb(227, 221, 221);
  z-index:100;
}

.left-section {
  display:flex;
  align-items:center;
}
.middle-section {
  flex:1;
  margin-right:35px;
  margin-left:70px;
  max-width:500px;
  display:flex;
  align-items:center;
}
.right-section {
  width:200px;
  margin-right:20px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-shrink:0;
}

.notification-container {
  position:relative;
}

.number3 {
  position:absolute;
  background-color:rgb(174, 18, 18);
  color:white;
  border-radius:100px;
  font-size:14px;
  top:-2px;
  right:-5px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom:2px;
}

.hamburger-menu {
   height:24px;
   margin-right:24px;
   margin-left:24px;
}

.youtube-logo {
  height:20px;
}

.search-button {
   height:38px;
   width:66px;
   background-color: rgb(228, 223, 223);
   border-width:1px;
   border-style:solid;
   border-color:rgb(187, 185, 185);
   margin-left:-1px;
   margin-right:10px;
}

.search-button , .voice-search-button  , .upload-icon-container{
   display:flex;
   justify-content:center;
   align-items:center;
   position:relative;
}

.search-button .tooltip , 
.voice-search-button .tooltip ,
.upload-icon-container .tooltip {
  position:absolute;
  background-color:grey;
  color:white;
  padding-top:5px;
  padding-left:8px;
  padding-right:8px;
  padding-bottom:5px;
  bottom:-40px;
  border-width:2px;
  font-size:12px;
  opacity:0;
  transition:opacity 0.15s;
  pointer-events:none;
  white-space:nowrap;
}

.search-button:hover .tooltip ,
.voice-search-button:hover .tooltip ,
.upload-icon-container:hover .tooltip{
  opacity:1;
}

.search-icon {
   height:25px;
}

.voice-search-button {
    height:40px;
    width:40px;
    border:none;
    border-radius:20px;
    background-color:rgb(248, 243, 243);
    position:relative;
}


.voice-search {
  height:25px;
}

.search-box {
   flex:1;
   height:34px;
   font-size:16px;
   padding-left:10px;
   border-width:1px;
   border-style:solid;
   border-color:rgb(187, 185, 185);
   border-radius:2px;
   box-shadow:inset 1px 2px 3px rgba(0,0,0,0.05);
   width:0;

}

.notifications {
  height:24px;
}

.upload {
  height:24px;
}

.yt-apps {
  height:24px;
}

.ssd {
  height:35px;
}