.sidebar {
  position:fixed;
  left:0px;
  bottom:0px;
  top:58px;
  width:72px;
  background-color:white;
  z-index:200;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:rgb(240, 236, 236);
}

.sidebar-link {
  height:75px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.sidebar-link:hover {
  background-color:lightgray;
  cursor:pointer;
}

.sidebar img {
  height:24px;
  margin-bottom:5px;
}
.sidebar div {
  font-size:10px;
}